# Git Ignore File for Pot-Hole-Detector Project

# --------------------------------------
# Dependencies
# --------------------------------------
node_modules/

# --------------------------------------
# Expo Specific Files
# --------------------------------------
.expo/
dist/
web-build/
expo-env.d.ts

# --------------------------------------
# Native Build Files
# --------------------------------------
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# --------------------------------------
# Metro Bundler Files
# --------------------------------------
.metro-health-check*

# --------------------------------------
# Debug Logs
# --------------------------------------
npm-debug.*
yarn-debug.*
yarn-error.*

# --------------------------------------
# macOS System Files
# --------------------------------------
.DS_Store
*.pem

# --------------------------------------
# Local Environment Files
# --------------------------------------
.env*.local

# --------------------------------------
# TypeScript Build Files
# --------------------------------------
*.tsbuildinfo

# --------------------------------------
# Project Specific Files
# --------------------------------------
app-example
bun.lockb

# --------------------------------------
# IDE Files
# --------------------------------------
.idea/